@import 'https://fonts.googleapis.com/css?family=Roboto';

.App {
  font-family: 'Roboto';
} 

* {
  box-sizing: border-box;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-content {
  max-width: 800px;
  margin: 20px auto;
  // background-color: #F6F6F6;
  padding: 25px;
}
.TransactionForm-input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}



.TransactionForm-form {
  max-width: 320px;
  margin: 0 auto;
  display: block;
}

  .Transaction-item {
  list-style: none;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}